<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967583806428-ii3ve70k5t0513veldho2q3ekl81cnh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967583806428-ii3ve70k5t0513veldho2q3ekl81cnh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBEwpOvrs8RJwwl7EY1dZO86pXJb4CDjWE</string>
	<key>GCM_SENDER_ID</key>
	<string>967583806428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>husnain.scanMRZ</string>
	<key>PROJECT_ID</key>
	<string>estamosready-701aa</string>
	<key>STORAGE_BUCKET</key>
	<string>estamosready-701aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967583806428:ios:b998a0c170b5a08fbc5519</string>
</dict>
</plist>